.container
  .top_image
    =image_tag 'top_image1.jpg'
  .nav_bar
    %h5 ユーザー登録
  %h3 メールアドレスで登録
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email",class: 'text'
    .field
      = f.label :password
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} 文字以上)
      %br/
      = f.password_field :password, autocomplete: "new-password",class: 'text'
    .field
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password",class: 'text'
    .actions
      = f.submit "登録",class: 'btn'
  %h3 Googleアカウントで登録
  = link_to user_google_oauth2_omniauth_authorize_path do
    = image_tag 'btn_google_signin.png',class: 'google_signin'
