.container
  .topslide
    = image_tag 'top_image2.jpg'
    = image_tag 'top_image3.jpg'
    = image_tag 'top_image4.jpg'
  .article_nav
    %h3 新着記事
    %h3 人気記事
  .article_container
    .article
      .article_image
        = image_tag 'top_image1.jpg'
      %h5 絶景！！しまなみ海道！！
      %ul.tag
        %li 愛媛県
        %li グルメ
      .user_icon
        =image_tag 'default-avatar.png'
        .user_name
          rky
          %p  2月18日
    .article
      .article_image
        = image_tag 'cafe_image.jpg'
      %h5 美味しいコーヒーを求めて・・・
      %ul.tag
        %li 大阪府
        %li グルメ
      .user_icon
        =image_tag 'default-avatar.png'
        .user_name
          giro
          %p  12月2日
    .article
      .article_image
        = image_tag 'image1.jpg'
      %h5 桜を見ながら、散歩！！
      %ul.tag
        %li 兵庫県
        %li 景色
      .user_icon
        =image_tag 'default-avatar.png'
        .user_name
          mn
          %p  1月18日