.container#article-show{data: {article_id: @article.id}}
  .topslide
    - @article.images.each do |image|
      = image_tag image
  .article_show
    .card_content
      .article_title
        %h2= @article.title
        .article_menu
          .dropdown
            = image_tag 'menu_icon.png'
            .dropdown-content
              = link_to '編集', edit_article_path(@article.id)
              = link_to '削除', article_path(@article.id), method: :delete, data: { confirm: '本当に削除しますか？' }
        
      %ul.tag
        %li= @article.prefecture.name
        - @article.tags.each do |tag|
          %li= tag.name
      .user_icon
        =image_tag @article.user.avatar_image
        .user_name
          = @article.user.display_name
          %p #{@article.created_at.strftime('%Y年%m月%d日')}
        .like_btn.hidden.like-good
          =image_tag 'like_btn2.png'
          %p いいね！
          %p=@article.like_count
        .like_btn.hidden.like-nogood
          =image_tag 'unlike_btn.png'
          %p いいね！
          %p=@article.like_count
      .article_content
        = @article.content
  .nav_bar
    %h3 コメント一覧
  .article_show
    .card_content
      #comments
        - @comments.each do |comment|
          .user_icon
            =image_tag comment.user.avatar_image
            .user_name
              = "#{comment.user.display_name}さん"
              %p #{comment.created_at.strftime('%Y年%m月%d日')}
            .comment
              %p= comment.content
      = form_with url: article_comments_path(@article), method: :post, id: "new_comment_form", data: { controller: "comments" }, remote: true do |f|
        = f.text_area :content, placeholder: "コメントを入力してください"
        = f.submit "コメントを追加", class: "btn"
= javascript_pack_tag 'comments'

