.container
  .top_image
    =image_tag 'top_image5.jpg'
  .nav_bar
    %h3 ログイン
  %h3 メールアドレスでログイン
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email",class: 'text'
    .field
      = f.label :password
      %br/
      = f.password_field :password, autocomplete: "current-password",class: 'text'
    - if devise_mapping.rememberable?
      .field
        = f.check_box :remember_me
        = f.label :remember_me
    .actions
      = f.submit "Log in",class: 'btn'
  %h3 Googleアカウントでログイン
  = link_to user_google_oauth2_omniauth_authorize_path do
    = image_tag 'btn_google_signin.png',class: 'google_signin'
